.imageContainer {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageThumb {
  height: 250px;
  width: 250px;
  margin: 0;
  border-radius: 500px;
  border: 5px solid grey;
}

.imageAuthor {
  margin: 10px;
}
